@import url(//font.elice.io/EliceDigitalBaeum.css);

:root {
  --slider-width: 1200px;
  --slider-height: 850px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
  font-family: "Elice Digital Baeum", sans-serif;
  cursor: pointer;
}

.wrapper {
  position: relative;
  width: var(--slider-width);
  height: var(--slider-height);
  z-index: 1;
}

.slider {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
  width: var(--slider-width);
  height: var(--slider-height);
}

.calenders {
  display: flex;
  position: relative;
  top: 0;
  width: 10000px;
  left: 0px;
}

.calenders.shifting {
  transition: left 0.4s ease-out;
}

.calender {
  width: var(--slider-width);
  height: var(--slider-height);
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: relative;
}

.calender_main {
  height: 80%;
}

.calender_img_container {
  width: var(--slider-width);
  height: 00px;
}

.calender_img_container .calender_todo {
  display: flex;
}

.calender_todo h3 {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  opacity: 0.4;
}

.calender_img_container h4 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 300px;
  top: 100px;
  color: black;
  opacity: 0.05;
}

.year_month {
  position: relative;
  background-color: #617482;
  width: var(--slider-width);
  height: 100px;
  margin: 0 auto;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.year_month_text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  width: 20%;
  height: 30px;
  margin: 0 auto;
  margin-top: 20px;
  color: white;
  top: 30px;
}

.year_month_text p {
  width: 100%;
  text-align: center;
}

.left {
  margin-right: 25px;
  cursor: pointer;
  z-index: 2;
}

.right {
  margin-left: 25px;
  cursor: pointer;
  z-index: 2;
}

.days {
  display: flex;
  flex-direction: row;
  font-size: 17px;
  justify-content: center;
  font-weight: 600;
  position: relative;
  top: -20px;
}

.day {
  margin: 10px 70px;
}

.calender_main_line {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 100px;
}

.today {
  font-weight: 1000;
}

.sunday {
  color: red;
}

.day:first-child {
  color: red;
}

.day:last-child {
  color: blue;
}

.dates {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  top: -120px;
  margin: 15px 40px;
}

.date {
  border: 1px solid black;
  font-size: 20px;
  cursor: pointer;
  width: 160px;
  height: 120px;
  float: left;
  overflow: auto;
}

.todo_input {
  outline: none;
  border: none;
  font-size: 13px;
  border-bottom: 1px solid black;
  background-color: transparent;
  width: 150px;
  top: 12px;
  margin: 2px;
  display: flex;
  position: relative;
  font-family: "Elice Digital Baeum", sans-serif;
}

.todo_text {
  display: block;
}

.tools {
  position: relative;
  top: 700px;
  font-size: 30px;
  background-color: #617482;
  border-radius: 22px;
  width: 50px;
  display: flex;
  margin: 0 auto;
  height: 50px;
  transition: 0.3s ease-in;
}

.tools.hover {
  width: 200px;
  font-size: 25px;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: white;
}

.tools .fa-ellipsis-h {
  color: white;
  display: flex;
  position: relative;
  top: 10px;
  margin: 0 auto;
}

.tool {
  z-index: 999;
}
